a {
    color: blue;
    text-decoration: none;
}

html {
    font-family: sans-serif;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 25px;
}

span {
    background-color: lightgray;
}